.flex {
  display: -ms-flexbox;
  display: flex;
  margin-left: -0.6em;
  width: calc(100% + 0.6em);
  flex-wrap: wrap;
  transition: 0.3s;
}
.flex > * {
  box-sizing: border-box;
  flex: 1 1 auto;
  padding-left: 0.6em;
  padding-bottom: 0.6em;
}
.flex[class*="eight"] > *,
.flex[class*="eleven"] > *,
.flex[class*="five"] > *,
.flex[class*="four"] > *,
.flex[class*="nine"] > *,
.flex[class*="one"] > *,
.flex[class*="seven"] > *,
.flex[class*="six"] > *,
.flex[class*="ten"] > *,
.flex[class*="three"] > *,
.flex[class*="twelve"] > *,
.flex[class*="two"] > * {
  flex-grow: 0;
}
.flex.grow > * {
  flex-grow: 1;
}
.full,
.one > * {
  width: 100%;
}
.half,
.two > * {
  width: 50%;
}
.third,
.three > * {
  width: 33.33333%;
}
.four > *,
.fourth {
  width: 25%;
}
.fifth,
.five > * {
  width: 20%;
}
.six > *,
.sixth {
  width: 16.66666%;
}
.seven > * {
  width: 14.28571%;
}
.eight > * {
  width: 12.5%;
}
.nine > * {
  width: 11.11111%;
}
.ten > * {
  width: 10%;
}
.eleven > * {
  width: 9.09091%;
}
.twelve > * {
  width: 8.33333%;
}
.two-third {
  width: 66.66666%;
}
.three-fourth {
  width: 75%;
}
.two-fifth {
  width: 40%;
}
.three-fifth {
  width: 60%;
}
.four-fifth {
  width: 80%;
}
.none {
  display: none;
}
.off-none {
  margin-left: 0;
}
.off-half {
  margin-left: 50%;
}
.off-third {
  margin-left: 33.33333%;
}
.off-two-third {
  margin-left: 66.66666%;
}
.off-fourth {
  margin-left: 25%;
}
.off-three-fourth {
  margin-left: 75%;
}
.off-fifth {
  margin-left: 20%;
}
.off-two-fifth {
  margin-left: 40%;
}
.off-three-fifth {
  margin-left: 60%;
}
.off-four-fifth {
  margin-left: 80%;
}
.off-sixth {
  margin-left: 16.66666%;
}
@media all and (min-width: 500px) {
  .one-500 > * {
    width: 100%;
  }
  .two-500 > * {
    width: 50%;
  }
  .three-500 > * {
    width: 33.33333%;
  }
  .four-500 > * {
    width: 25%;
  }
  .five-500 > * {
    width: 20%;
  }
  .six-500 > * {
    width: 16.66666%;
  }
  .seven-500 > * {
    width: 14.28571%;
  }
  .eight-500 > * {
    width: 12.5%;
  }
  .nine-500 > * {
    width: 11.11111%;
  }
  .ten-500 > * {
    width: 10%;
  }
  .eleven-500 > * {
    width: 9.09091%;
  }
  .twelve-500 > * {
    width: 8.33333%;
  }
  .full-500 {
    width: 100%;
    display: block;
  }
  .half-500 {
    width: 50%;
    display: block;
  }
  .third-500 {
    width: 33.33333%;
    display: block;
  }
  .two-third-500 {
    width: 66.66666%;
    display: block;
  }
  .fourth-500 {
    width: 25%;
    display: block;
  }
  .three-fourth-500 {
    width: 75%;
    display: block;
  }
  .fifth-500 {
    width: 20%;
    display: block;
  }
  .two-fifth-500 {
    width: 40%;
    display: block;
  }
  .three-fifth-500 {
    width: 60%;
    display: block;
  }
  .four-fifth-500 {
    width: 80%;
    display: block;
  }
  .sixth-500 {
    width: 16.66666%;
    display: block;
  }
  .none-500 {
    display: none;
  }
  .off-none-500 {
    margin-left: 0;
  }
  .off-half-500 {
    margin-left: 50%;
  }
  .off-third-500 {
    margin-left: 33.33333%;
  }
  .off-two-third-500 {
    margin-left: 66.66666%;
  }
  .off-fourth-500 {
    margin-left: 25%;
  }
  .off-three-fourth-500 {
    margin-left: 75%;
  }
  .off-fifth-500 {
    margin-left: 20%;
  }
  .off-two-fifth-500 {
    margin-left: 40%;
  }
  .off-three-fifth-500 {
    margin-left: 60%;
  }
  .off-four-fifth-500 {
    margin-left: 80%;
  }
  .off-sixth-500 {
    margin-left: 16.66666%;
  }
}
@media all and (min-width: 600px) {
  .one-600 > * {
    width: 100%;
  }
  .two-600 > * {
    width: 50%;
  }
  .three-600 > * {
    width: 33.33333%;
  }
  .four-600 > * {
    width: 25%;
  }
  .five-600 > * {
    width: 20%;
  }
  .six-600 > * {
    width: 16.66666%;
  }
  .seven-600 > * {
    width: 14.28571%;
  }
  .eight-600 > * {
    width: 12.5%;
  }
  .nine-600 > * {
    width: 11.11111%;
  }
  .ten-600 > * {
    width: 10%;
  }
  .eleven-600 > * {
    width: 9.09091%;
  }
  .twelve-600 > * {
    width: 8.33333%;
  }
  .full-600 {
    width: 100%;
    display: block;
  }
  .half-600 {
    width: 50%;
    display: block;
  }
  .third-600 {
    width: 33.33333%;
    display: block;
  }
  .two-third-600 {
    width: 66.66666%;
    display: block;
  }
  .fourth-600 {
    width: 25%;
    display: block;
  }
  .three-fourth-600 {
    width: 75%;
    display: block;
  }
  .fifth-600 {
    width: 20%;
    display: block;
  }
  .two-fifth-600 {
    width: 40%;
    display: block;
  }
  .three-fifth-600 {
    width: 60%;
    display: block;
  }
  .four-fifth-600 {
    width: 80%;
    display: block;
  }
  .sixth-600 {
    width: 16.66666%;
    display: block;
  }
  .none-600 {
    display: none;
  }
  .off-none-600 {
    margin-left: 0;
  }
  .off-half-600 {
    margin-left: 50%;
  }
  .off-third-600 {
    margin-left: 33.33333%;
  }
  .off-two-third-600 {
    margin-left: 66.66666%;
  }
  .off-fourth-600 {
    margin-left: 25%;
  }
  .off-three-fourth-600 {
    margin-left: 75%;
  }
  .off-fifth-600 {
    margin-left: 20%;
  }
  .off-two-fifth-600 {
    margin-left: 40%;
  }
  .off-three-fifth-600 {
    margin-left: 60%;
  }
  .off-four-fifth-600 {
    margin-left: 80%;
  }
  .off-sixth-600 {
    margin-left: 16.66666%;
  }
}
@media all and (min-width: 700px) {
  .one-700 > * {
    width: 100%;
  }
  .two-700 > * {
    width: 50%;
  }
  .three-700 > * {
    width: 33.33333%;
  }
  .four-700 > * {
    width: 25%;
  }
  .five-700 > * {
    width: 20%;
  }
  .six-700 > * {
    width: 16.66666%;
  }
  .seven-700 > * {
    width: 14.28571%;
  }
  .eight-700 > * {
    width: 12.5%;
  }
  .nine-700 > * {
    width: 11.11111%;
  }
  .ten-700 > * {
    width: 10%;
  }
  .eleven-700 > * {
    width: 9.09091%;
  }
  .twelve-700 > * {
    width: 8.33333%;
  }
  .full-700 {
    width: 100%;
    display: block;
  }
  .half-700 {
    width: 50%;
    display: block;
  }
  .third-700 {
    width: 33.33333%;
    display: block;
  }
  .two-third-700 {
    width: 66.66666%;
    display: block;
  }
  .fourth-700 {
    width: 25%;
    display: block;
  }
  .three-fourth-700 {
    width: 75%;
    display: block;
  }
  .fifth-700 {
    width: 20%;
    display: block;
  }
  .two-fifth-700 {
    width: 40%;
    display: block;
  }
  .three-fifth-700 {
    width: 60%;
    display: block;
  }
  .four-fifth-700 {
    width: 80%;
    display: block;
  }
  .sixth-700 {
    width: 16.66666%;
    display: block;
  }
  .none-700 {
    display: none;
  }
  .off-none-700 {
    margin-left: 0;
  }
  .off-half-700 {
    margin-left: 50%;
  }
  .off-third-700 {
    margin-left: 33.33333%;
  }
  .off-two-third-700 {
    margin-left: 66.66666%;
  }
  .off-fourth-700 {
    margin-left: 25%;
  }
  .off-three-fourth-700 {
    margin-left: 75%;
  }
  .off-fifth-700 {
    margin-left: 20%;
  }
  .off-two-fifth-700 {
    margin-left: 40%;
  }
  .off-three-fifth-700 {
    margin-left: 60%;
  }
  .off-four-fifth-700 {
    margin-left: 80%;
  }
  .off-sixth-700 {
    margin-left: 16.66666%;
  }
}
@media all and (min-width: 800px) {
  .one-800 > * {
    width: 100%;
  }
  .two-800 > * {
    width: 50%;
  }
  .three-800 > * {
    width: 33.33333%;
  }
  .four-800 > * {
    width: 25%;
  }
  .five-800 > * {
    width: 20%;
  }
  .six-800 > * {
    width: 16.66666%;
  }
  .seven-800 > * {
    width: 14.28571%;
  }
  .eight-800 > * {
    width: 12.5%;
  }
  .nine-800 > * {
    width: 11.11111%;
  }
  .ten-800 > * {
    width: 10%;
  }
  .eleven-800 > * {
    width: 9.09091%;
  }
  .twelve-800 > * {
    width: 8.33333%;
  }
  .full-800 {
    width: 100%;
    display: block;
  }
  .half-800 {
    width: 50%;
    display: block;
  }
  .third-800 {
    width: 33.33333%;
    display: block;
  }
  .two-third-800 {
    width: 66.66666%;
    display: block;
  }
  .fourth-800 {
    width: 25%;
    display: block;
  }
  .three-fourth-800 {
    width: 75%;
    display: block;
  }
  .fifth-800 {
    width: 20%;
    display: block;
  }
  .two-fifth-800 {
    width: 40%;
    display: block;
  }
  .three-fifth-800 {
    width: 60%;
    display: block;
  }
  .four-fifth-800 {
    width: 80%;
    display: block;
  }
  .sixth-800 {
    width: 16.66666%;
    display: block;
  }
  .none-800 {
    display: none;
  }
  .off-none-800 {
    margin-left: 0;
  }
  .off-half-800 {
    margin-left: 50%;
  }
  .off-third-800 {
    margin-left: 33.33333%;
  }
  .off-two-third-800 {
    margin-left: 66.66666%;
  }
  .off-fourth-800 {
    margin-left: 25%;
  }
  .off-three-fourth-800 {
    margin-left: 75%;
  }
  .off-fifth-800 {
    margin-left: 20%;
  }
  .off-two-fifth-800 {
    margin-left: 40%;
  }
  .off-three-fifth-800 {
    margin-left: 60%;
  }
  .off-four-fifth-800 {
    margin-left: 80%;
  }
  .off-sixth-800 {
    margin-left: 16.66666%;
  }
}
@media all and (min-width: 900px) {
  .one-900 > * {
    width: 100%;
  }
  .two-900 > * {
    width: 50%;
  }
  .three-900 > * {
    width: 33.33333%;
  }
  .four-900 > * {
    width: 25%;
  }
  .five-900 > * {
    width: 20%;
  }
  .six-900 > * {
    width: 16.66666%;
  }
  .seven-900 > * {
    width: 14.28571%;
  }
  .eight-900 > * {
    width: 12.5%;
  }
  .nine-900 > * {
    width: 11.11111%;
  }
  .ten-900 > * {
    width: 10%;
  }
  .eleven-900 > * {
    width: 9.09091%;
  }
  .twelve-900 > * {
    width: 8.33333%;
  }
  .full-900 {
    width: 100%;
    display: block;
  }
  .half-900 {
    width: 50%;
    display: block;
  }
  .third-900 {
    width: 33.33333%;
    display: block;
  }
  .two-third-900 {
    width: 66.66666%;
    display: block;
  }
  .fourth-900 {
    width: 25%;
    display: block;
  }
  .three-fourth-900 {
    width: 75%;
    display: block;
  }
  .fifth-900 {
    width: 20%;
    display: block;
  }
  .two-fifth-900 {
    width: 40%;
    display: block;
  }
  .three-fifth-900 {
    width: 60%;
    display: block;
  }
  .four-fifth-900 {
    width: 80%;
    display: block;
  }
  .sixth-900 {
    width: 16.66666%;
    display: block;
  }
  .none-900 {
    display: none;
  }
  .off-none-900 {
    margin-left: 0;
  }
  .off-half-900 {
    margin-left: 50%;
  }
  .off-third-900 {
    margin-left: 33.33333%;
  }
  .off-two-third-900 {
    margin-left: 66.66666%;
  }
  .off-fourth-900 {
    margin-left: 25%;
  }
  .off-three-fourth-900 {
    margin-left: 75%;
  }
  .off-fifth-900 {
    margin-left: 20%;
  }
  .off-two-fifth-900 {
    margin-left: 40%;
  }
  .off-three-fifth-900 {
    margin-left: 60%;
  }
  .off-four-fifth-900 {
    margin-left: 80%;
  }
  .off-sixth-900 {
    margin-left: 16.66666%;
  }
}
@media all and (min-width: 1000px) {
  .one-1000 > * {
    width: 100%;
  }
  .two-1000 > * {
    width: 50%;
  }
  .three-1000 > * {
    width: 33.33333%;
  }
  .four-1000 > * {
    width: 25%;
  }
  .five-1000 > * {
    width: 20%;
  }
  .six-1000 > * {
    width: 16.66666%;
  }
  .seven-1000 > * {
    width: 14.28571%;
  }
  .eight-1000 > * {
    width: 12.5%;
  }
  .nine-1000 > * {
    width: 11.11111%;
  }
  .ten-1000 > * {
    width: 10%;
  }
  .eleven-1000 > * {
    width: 9.09091%;
  }
  .twelve-1000 > * {
    width: 8.33333%;
  }
  .full-1000 {
    width: 100%;
    display: block;
  }
  .half-1000 {
    width: 50%;
    display: block;
  }
  .third-1000 {
    width: 33.33333%;
    display: block;
  }
  .two-third-1000 {
    width: 66.66666%;
    display: block;
  }
  .fourth-1000 {
    width: 25%;
    display: block;
  }
  .three-fourth-1000 {
    width: 75%;
    display: block;
  }
  .fifth-1000 {
    width: 20%;
    display: block;
  }
  .two-fifth-1000 {
    width: 40%;
    display: block;
  }
  .three-fifth-1000 {
    width: 60%;
    display: block;
  }
  .four-fifth-1000 {
    width: 80%;
    display: block;
  }
  .sixth-1000 {
    width: 16.66666%;
    display: block;
  }
  .none-1000 {
    display: none;
  }
  .off-none-1000 {
    margin-left: 0;
  }
  .off-half-1000 {
    margin-left: 50%;
  }
  .off-third-1000 {
    margin-left: 33.33333%;
  }
  .off-two-third-1000 {
    margin-left: 66.66666%;
  }
  .off-fourth-1000 {
    margin-left: 25%;
  }
  .off-three-fourth-1000 {
    margin-left: 75%;
  }
  .off-fifth-1000 {
    margin-left: 20%;
  }
  .off-two-fifth-1000 {
    margin-left: 40%;
  }
  .off-three-fifth-1000 {
    margin-left: 60%;
  }
  .off-four-fifth-1000 {
    margin-left: 80%;
  }
  .off-sixth-1000 {
    margin-left: 16.66666%;
  }
}
@media all and (min-width: 1100px) {
  .one-1100 > * {
    width: 100%;
  }
  .two-1100 > * {
    width: 50%;
  }
  .three-1100 > * {
    width: 33.33333%;
  }
  .four-1100 > * {
    width: 25%;
  }
  .five-1100 > * {
    width: 20%;
  }
  .six-1100 > * {
    width: 16.66666%;
  }
  .seven-1100 > * {
    width: 14.28571%;
  }
  .eight-1100 > * {
    width: 12.5%;
  }
  .nine-1100 > * {
    width: 11.11111%;
  }
  .ten-1100 > * {
    width: 10%;
  }
  .eleven-1100 > * {
    width: 9.09091%;
  }
  .twelve-1100 > * {
    width: 8.33333%;
  }
  .full-1100 {
    width: 100%;
    display: block;
  }
  .half-1100 {
    width: 50%;
    display: block;
  }
  .third-1100 {
    width: 33.33333%;
    display: block;
  }
  .two-third-1100 {
    width: 66.66666%;
    display: block;
  }
  .fourth-1100 {
    width: 25%;
    display: block;
  }
  .three-fourth-1100 {
    width: 75%;
    display: block;
  }
  .fifth-1100 {
    width: 20%;
    display: block;
  }
  .two-fifth-1100 {
    width: 40%;
    display: block;
  }
  .three-fifth-1100 {
    width: 60%;
    display: block;
  }
  .four-fifth-1100 {
    width: 80%;
    display: block;
  }
  .sixth-1100 {
    width: 16.66666%;
    display: block;
  }
  .none-1100 {
    display: none;
  }
  .off-none-1100 {
    margin-left: 0;
  }
  .off-half-1100 {
    margin-left: 50%;
  }
  .off-third-1100 {
    margin-left: 33.33333%;
  }
  .off-two-third-1100 {
    margin-left: 66.66666%;
  }
  .off-fourth-1100 {
    margin-left: 25%;
  }
  .off-three-fourth-1100 {
    margin-left: 75%;
  }
  .off-fifth-1100 {
    margin-left: 20%;
  }
  .off-two-fifth-1100 {
    margin-left: 40%;
  }
  .off-three-fifth-1100 {
    margin-left: 60%;
  }
  .off-four-fifth-1100 {
    margin-left: 80%;
  }
  .off-sixth-1100 {
    margin-left: 16.66666%;
  }
}
@media all and (min-width: 1200px) {
  .one-1200 > * {
    width: 100%;
  }
  .two-1200 > * {
    width: 50%;
  }
  .three-1200 > * {
    width: 33.33333%;
  }
  .four-1200 > * {
    width: 25%;
  }
  .five-1200 > * {
    width: 20%;
  }
  .six-1200 > * {
    width: 16.66666%;
  }
  .seven-1200 > * {
    width: 14.28571%;
  }
  .eight-1200 > * {
    width: 12.5%;
  }
  .nine-1200 > * {
    width: 11.11111%;
  }
  .ten-1200 > * {
    width: 10%;
  }
  .eleven-1200 > * {
    width: 9.09091%;
  }
  .twelve-1200 > * {
    width: 8.33333%;
  }
  .full-1200 {
    width: 100%;
    display: block;
  }
  .half-1200 {
    width: 50%;
    display: block;
  }
  .third-1200 {
    width: 33.33333%;
    display: block;
  }
  .two-third-1200 {
    width: 66.66666%;
    display: block;
  }
  .fourth-1200 {
    width: 25%;
    display: block;
  }
  .three-fourth-1200 {
    width: 75%;
    display: block;
  }
  .fifth-1200 {
    width: 20%;
    display: block;
  }
  .two-fifth-1200 {
    width: 40%;
    display: block;
  }
  .three-fifth-1200 {
    width: 60%;
    display: block;
  }
  .four-fifth-1200 {
    width: 80%;
    display: block;
  }
  .sixth-1200 {
    width: 16.66666%;
    display: block;
  }
  .none-1200 {
    display: none;
  }
  .off-none-1200 {
    margin-left: 0;
  }
  .off-half-1200 {
    margin-left: 50%;
  }
  .off-third-1200 {
    margin-left: 33.33333%;
  }
  .off-two-third-1200 {
    margin-left: 66.66666%;
  }
  .off-fourth-1200 {
    margin-left: 25%;
  }
  .off-three-fourth-1200 {
    margin-left: 75%;
  }
  .off-fifth-1200 {
    margin-left: 20%;
  }
  .off-two-fifth-1200 {
    margin-left: 40%;
  }
  .off-three-fifth-1200 {
    margin-left: 60%;
  }
  .off-four-fifth-1200 {
    margin-left: 80%;
  }
  .off-sixth-1200 {
    margin-left: 16.66666%;
  }
}
@media all and (min-width: 1300px) {
  .one-1300 > * {
    width: 100%;
  }
  .two-1300 > * {
    width: 50%;
  }
  .three-1300 > * {
    width: 33.33333%;
  }
  .four-1300 > * {
    width: 25%;
  }
  .five-1300 > * {
    width: 20%;
  }
  .six-1300 > * {
    width: 16.66666%;
  }
  .seven-1300 > * {
    width: 14.28571%;
  }
  .eight-1300 > * {
    width: 12.5%;
  }
  .nine-1300 > * {
    width: 11.11111%;
  }
  .ten-1300 > * {
    width: 10%;
  }
  .eleven-1300 > * {
    width: 9.09091%;
  }
  .twelve-1300 > * {
    width: 8.33333%;
  }
  .full-1300 {
    width: 100%;
    display: block;
  }
  .half-1300 {
    width: 50%;
    display: block;
  }
  .third-1300 {
    width: 33.33333%;
    display: block;
  }
  .two-third-1300 {
    width: 66.66666%;
    display: block;
  }
  .fourth-1300 {
    width: 25%;
    display: block;
  }
  .three-fourth-1300 {
    width: 75%;
    display: block;
  }
  .fifth-1300 {
    width: 20%;
    display: block;
  }
  .two-fifth-1300 {
    width: 40%;
    display: block;
  }
  .three-fifth-1300 {
    width: 60%;
    display: block;
  }
  .four-fifth-1300 {
    width: 80%;
    display: block;
  }
  .sixth-1300 {
    width: 16.66666%;
    display: block;
  }
  .none-1300 {
    display: none;
  }
  .off-none-1300 {
    margin-left: 0;
  }
  .off-half-1300 {
    margin-left: 50%;
  }
  .off-third-1300 {
    margin-left: 33.33333%;
  }
  .off-two-third-1300 {
    margin-left: 66.66666%;
  }
  .off-fourth-1300 {
    margin-left: 25%;
  }
  .off-three-fourth-1300 {
    margin-left: 75%;
  }
  .off-fifth-1300 {
    margin-left: 20%;
  }
  .off-two-fifth-1300 {
    margin-left: 40%;
  }
  .off-three-fifth-1300 {
    margin-left: 60%;
  }
  .off-four-fifth-1300 {
    margin-left: 80%;
  }
  .off-sixth-1300 {
    margin-left: 16.66666%;
  }
}
@media all and (min-width: 1400px) {
  .one-1400 > * {
    width: 100%;
  }
  .two-1400 > * {
    width: 50%;
  }
  .three-1400 > * {
    width: 33.33333%;
  }
  .four-1400 > * {
    width: 25%;
  }
  .five-1400 > * {
    width: 20%;
  }
  .six-1400 > * {
    width: 16.66666%;
  }
  .seven-1400 > * {
    width: 14.28571%;
  }
  .eight-1400 > * {
    width: 12.5%;
  }
  .nine-1400 > * {
    width: 11.11111%;
  }
  .ten-1400 > * {
    width: 10%;
  }
  .eleven-1400 > * {
    width: 9.09091%;
  }
  .twelve-1400 > * {
    width: 8.33333%;
  }
  .full-1400 {
    width: 100%;
    display: block;
  }
  .half-1400 {
    width: 50%;
    display: block;
  }
  .third-1400 {
    width: 33.33333%;
    display: block;
  }
  .two-third-1400 {
    width: 66.66666%;
    display: block;
  }
  .fourth-1400 {
    width: 25%;
    display: block;
  }
  .three-fourth-1400 {
    width: 75%;
    display: block;
  }
  .fifth-1400 {
    width: 20%;
    display: block;
  }
  .two-fifth-1400 {
    width: 40%;
    display: block;
  }
  .three-fifth-1400 {
    width: 60%;
    display: block;
  }
  .four-fifth-1400 {
    width: 80%;
    display: block;
  }
  .sixth-1400 {
    width: 16.66666%;
    display: block;
  }
  .none-1400 {
    display: none;
  }
  .off-none-1400 {
    margin-left: 0;
  }
  .off-half-1400 {
    margin-left: 50%;
  }
  .off-third-1400 {
    margin-left: 33.33333%;
  }
  .off-two-third-1400 {
    margin-left: 66.66666%;
  }
  .off-fourth-1400 {
    margin-left: 25%;
  }
  .off-three-fourth-1400 {
    margin-left: 75%;
  }
  .off-fifth-1400 {
    margin-left: 20%;
  }
  .off-two-fifth-1400 {
    margin-left: 40%;
  }
  .off-three-fifth-1400 {
    margin-left: 60%;
  }
  .off-four-fifth-1400 {
    margin-left: 80%;
  }
  .off-sixth-1400 {
    margin-left: 16.66666%;
  }
}
@media all and (min-width: 1500px) {
  .one-1500 > * {
    width: 100%;
  }
  .two-1500 > * {
    width: 50%;
  }
  .three-1500 > * {
    width: 33.33333%;
  }
  .four-1500 > * {
    width: 25%;
  }
  .five-1500 > * {
    width: 20%;
  }
  .six-1500 > * {
    width: 16.66666%;
  }
  .seven-1500 > * {
    width: 14.28571%;
  }
  .eight-1500 > * {
    width: 12.5%;
  }
  .nine-1500 > * {
    width: 11.11111%;
  }
  .ten-1500 > * {
    width: 10%;
  }
  .eleven-1500 > * {
    width: 9.09091%;
  }
  .twelve-1500 > * {
    width: 8.33333%;
  }
  .full-1500 {
    width: 100%;
    display: block;
  }
  .half-1500 {
    width: 50%;
    display: block;
  }
  .third-1500 {
    width: 33.33333%;
    display: block;
  }
  .two-third-1500 {
    width: 66.66666%;
    display: block;
  }
  .fourth-1500 {
    width: 25%;
    display: block;
  }
  .three-fourth-1500 {
    width: 75%;
    display: block;
  }
  .fifth-1500 {
    width: 20%;
    display: block;
  }
  .two-fifth-1500 {
    width: 40%;
    display: block;
  }
  .three-fifth-1500 {
    width: 60%;
    display: block;
  }
  .four-fifth-1500 {
    width: 80%;
    display: block;
  }
  .sixth-1500 {
    width: 16.66666%;
    display: block;
  }
  .none-1500 {
    display: none;
  }
  .off-none-1500 {
    margin-left: 0;
  }
  .off-half-1500 {
    margin-left: 50%;
  }
  .off-third-1500 {
    margin-left: 33.33333%;
  }
  .off-two-third-1500 {
    margin-left: 66.66666%;
  }
  .off-fourth-1500 {
    margin-left: 25%;
  }
  .off-three-fourth-1500 {
    margin-left: 75%;
  }
  .off-fifth-1500 {
    margin-left: 20%;
  }
  .off-two-fifth-1500 {
    margin-left: 40%;
  }
  .off-three-fifth-1500 {
    margin-left: 60%;
  }
  .off-four-fifth-1500 {
    margin-left: 80%;
  }
  .off-sixth-1500 {
    margin-left: 16.66666%;
  }
}
@media all and (min-width: 1600px) {
  .one-1600 > * {
    width: 100%;
  }
  .two-1600 > * {
    width: 50%;
  }
  .three-1600 > * {
    width: 33.33333%;
  }
  .four-1600 > * {
    width: 25%;
  }
  .five-1600 > * {
    width: 20%;
  }
  .six-1600 > * {
    width: 16.66666%;
  }
  .seven-1600 > * {
    width: 14.28571%;
  }
  .eight-1600 > * {
    width: 12.5%;
  }
  .nine-1600 > * {
    width: 11.11111%;
  }
  .ten-1600 > * {
    width: 10%;
  }
  .eleven-1600 > * {
    width: 9.09091%;
  }
  .twelve-1600 > * {
    width: 8.33333%;
  }
  .full-1600 {
    width: 100%;
    display: block;
  }
  .half-1600 {
    width: 50%;
    display: block;
  }
  .third-1600 {
    width: 33.33333%;
    display: block;
  }
  .two-third-1600 {
    width: 66.66666%;
    display: block;
  }
  .fourth-1600 {
    width: 25%;
    display: block;
  }
  .three-fourth-1600 {
    width: 75%;
    display: block;
  }
  .fifth-1600 {
    width: 20%;
    display: block;
  }
  .two-fifth-1600 {
    width: 40%;
    display: block;
  }
  .three-fifth-1600 {
    width: 60%;
    display: block;
  }
  .four-fifth-1600 {
    width: 80%;
    display: block;
  }
  .sixth-1600 {
    width: 16.66666%;
    display: block;
  }
  .none-1600 {
    display: none;
  }
  .off-none-1600 {
    margin-left: 0;
  }
  .off-half-1600 {
    margin-left: 50%;
  }
  .off-third-1600 {
    margin-left: 33.33333%;
  }
  .off-two-third-1600 {
    margin-left: 66.66666%;
  }
  .off-fourth-1600 {
    margin-left: 25%;
  }
  .off-three-fourth-1600 {
    margin-left: 75%;
  }
  .off-fifth-1600 {
    margin-left: 20%;
  }
  .off-two-fifth-1600 {
    margin-left: 40%;
  }
  .off-three-fifth-1600 {
    margin-left: 60%;
  }
  .off-four-fifth-1600 {
    margin-left: 80%;
  }
  .off-sixth-1600 {
    margin-left: 16.66666%;
  }
}
@media all and (min-width: 1700px) {
  .one-1700 > * {
    width: 100%;
  }
  .two-1700 > * {
    width: 50%;
  }
  .three-1700 > * {
    width: 33.33333%;
  }
  .four-1700 > * {
    width: 25%;
  }
  .five-1700 > * {
    width: 20%;
  }
  .six-1700 > * {
    width: 16.66666%;
  }
  .seven-1700 > * {
    width: 14.28571%;
  }
  .eight-1700 > * {
    width: 12.5%;
  }
  .nine-1700 > * {
    width: 11.11111%;
  }
  .ten-1700 > * {
    width: 10%;
  }
  .eleven-1700 > * {
    width: 9.09091%;
  }
  .twelve-1700 > * {
    width: 8.33333%;
  }
  .full-1700 {
    width: 100%;
    display: block;
  }
  .half-1700 {
    width: 50%;
    display: block;
  }
  .third-1700 {
    width: 33.33333%;
    display: block;
  }
  .two-third-1700 {
    width: 66.66666%;
    display: block;
  }
  .fourth-1700 {
    width: 25%;
    display: block;
  }
  .three-fourth-1700 {
    width: 75%;
    display: block;
  }
  .fifth-1700 {
    width: 20%;
    display: block;
  }
  .two-fifth-1700 {
    width: 40%;
    display: block;
  }
  .three-fifth-1700 {
    width: 60%;
    display: block;
  }
  .four-fifth-1700 {
    width: 80%;
    display: block;
  }
  .sixth-1700 {
    width: 16.66666%;
    display: block;
  }
  .none-1700 {
    display: none;
  }
  .off-none-1700 {
    margin-left: 0;
  }
  .off-half-1700 {
    margin-left: 50%;
  }
  .off-third-1700 {
    margin-left: 33.33333%;
  }
  .off-two-third-1700 {
    margin-left: 66.66666%;
  }
  .off-fourth-1700 {
    margin-left: 25%;
  }
  .off-three-fourth-1700 {
    margin-left: 75%;
  }
  .off-fifth-1700 {
    margin-left: 20%;
  }
  .off-two-fifth-1700 {
    margin-left: 40%;
  }
  .off-three-fifth-1700 {
    margin-left: 60%;
  }
  .off-four-fifth-1700 {
    margin-left: 80%;
  }
  .off-sixth-1700 {
    margin-left: 16.66666%;
  }
}
@media all and (min-width: 1800px) {
  .one-1800 > * {
    width: 100%;
  }
  .two-1800 > * {
    width: 50%;
  }
  .three-1800 > * {
    width: 33.33333%;
  }
  .four-1800 > * {
    width: 25%;
  }
  .five-1800 > * {
    width: 20%;
  }
  .six-1800 > * {
    width: 16.66666%;
  }
  .seven-1800 > * {
    width: 14.28571%;
  }
  .eight-1800 > * {
    width: 12.5%;
  }
  .nine-1800 > * {
    width: 11.11111%;
  }
  .ten-1800 > * {
    width: 10%;
  }
  .eleven-1800 > * {
    width: 9.09091%;
  }
  .twelve-1800 > * {
    width: 8.33333%;
  }
  .full-1800 {
    width: 100%;
    display: block;
  }
  .half-1800 {
    width: 50%;
    display: block;
  }
  .third-1800 {
    width: 33.33333%;
    display: block;
  }
  .two-third-1800 {
    width: 66.66666%;
    display: block;
  }
  .fourth-1800 {
    width: 25%;
    display: block;
  }
  .three-fourth-1800 {
    width: 75%;
    display: block;
  }
  .fifth-1800 {
    width: 20%;
    display: block;
  }
  .two-fifth-1800 {
    width: 40%;
    display: block;
  }
  .three-fifth-1800 {
    width: 60%;
    display: block;
  }
  .four-fifth-1800 {
    width: 80%;
    display: block;
  }
  .sixth-1800 {
    width: 16.66666%;
    display: block;
  }
  .none-1800 {
    display: none;
  }
  .off-none-1800 {
    margin-left: 0;
  }
  .off-half-1800 {
    margin-left: 50%;
  }
  .off-third-1800 {
    margin-left: 33.33333%;
  }
  .off-two-third-1800 {
    margin-left: 66.66666%;
  }
  .off-fourth-1800 {
    margin-left: 25%;
  }
  .off-three-fourth-1800 {
    margin-left: 75%;
  }
  .off-fifth-1800 {
    margin-left: 20%;
  }
  .off-two-fifth-1800 {
    margin-left: 40%;
  }
  .off-three-fifth-1800 {
    margin-left: 60%;
  }
  .off-four-fifth-1800 {
    margin-left: 80%;
  }
  .off-sixth-1800 {
    margin-left: 16.66666%;
  }
}
@media all and (min-width: 1900px) {
  .one-1900 > * {
    width: 100%;
  }
  .two-1900 > * {
    width: 50%;
  }
  .three-1900 > * {
    width: 33.33333%;
  }
  .four-1900 > * {
    width: 25%;
  }
  .five-1900 > * {
    width: 20%;
  }
  .six-1900 > * {
    width: 16.66666%;
  }
  .seven-1900 > * {
    width: 14.28571%;
  }
  .eight-1900 > * {
    width: 12.5%;
  }
  .nine-1900 > * {
    width: 11.11111%;
  }
  .ten-1900 > * {
    width: 10%;
  }
  .eleven-1900 > * {
    width: 9.09091%;
  }
  .twelve-1900 > * {
    width: 8.33333%;
  }
  .full-1900 {
    width: 100%;
    display: block;
  }
  .half-1900 {
    width: 50%;
    display: block;
  }
  .third-1900 {
    width: 33.33333%;
    display: block;
  }
  .two-third-1900 {
    width: 66.66666%;
    display: block;
  }
  .fourth-1900 {
    width: 25%;
    display: block;
  }
  .three-fourth-1900 {
    width: 75%;
    display: block;
  }
  .fifth-1900 {
    width: 20%;
    display: block;
  }
  .two-fifth-1900 {
    width: 40%;
    display: block;
  }
  .three-fifth-1900 {
    width: 60%;
    display: block;
  }
  .four-fifth-1900 {
    width: 80%;
    display: block;
  }
  .sixth-1900 {
    width: 16.66666%;
    display: block;
  }
  .none-1900 {
    display: none;
  }
  .off-none-1900 {
    margin-left: 0;
  }
  .off-half-1900 {
    margin-left: 50%;
  }
  .off-third-1900 {
    margin-left: 33.33333%;
  }
  .off-two-third-1900 {
    margin-left: 66.66666%;
  }
  .off-fourth-1900 {
    margin-left: 25%;
  }
  .off-three-fourth-1900 {
    margin-left: 75%;
  }
  .off-fifth-1900 {
    margin-left: 20%;
  }
  .off-two-fifth-1900 {
    margin-left: 40%;
  }
  .off-three-fifth-1900 {
    margin-left: 60%;
  }
  .off-four-fifth-1900 {
    margin-left: 80%;
  }
  .off-sixth-1900 {
    margin-left: 16.66666%;
  }
}
@media all and (min-width: 2000px) {
  .one-2000 > * {
    width: 100%;
  }
  .two-2000 > * {
    width: 50%;
  }
  .three-2000 > * {
    width: 33.33333%;
  }
  .four-2000 > * {
    width: 25%;
  }
  .five-2000 > * {
    width: 20%;
  }
  .six-2000 > * {
    width: 16.66666%;
  }
  .seven-2000 > * {
    width: 14.28571%;
  }
  .eight-2000 > * {
    width: 12.5%;
  }
  .nine-2000 > * {
    width: 11.11111%;
  }
  .ten-2000 > * {
    width: 10%;
  }
  .eleven-2000 > * {
    width: 9.09091%;
  }
  .twelve-2000 > * {
    width: 8.33333%;
  }
  .full-2000 {
    width: 100%;
    display: block;
  }
  .half-2000 {
    width: 50%;
    display: block;
  }
  .third-2000 {
    width: 33.33333%;
    display: block;
  }
  .two-third-2000 {
    width: 66.66666%;
    display: block;
  }
  .fourth-2000 {
    width: 25%;
    display: block;
  }
  .three-fourth-2000 {
    width: 75%;
    display: block;
  }
  .fifth-2000 {
    width: 20%;
    display: block;
  }
  .two-fifth-2000 {
    width: 40%;
    display: block;
  }
  .three-fifth-2000 {
    width: 60%;
    display: block;
  }
  .four-fifth-2000 {
    width: 80%;
    display: block;
  }
  .sixth-2000 {
    width: 16.66666%;
    display: block;
  }
  .none-2000 {
    display: none;
  }
  .off-none-2000 {
    margin-left: 0;
  }
  .off-half-2000 {
    margin-left: 50%;
  }
  .off-third-2000 {
    margin-left: 33.33333%;
  }
  .off-two-third-2000 {
    margin-left: 66.66666%;
  }
  .off-fourth-2000 {
    margin-left: 25%;
  }
  .off-three-fourth-2000 {
    margin-left: 75%;
  }
  .off-fifth-2000 {
    margin-left: 20%;
  }
  .off-two-fifth-2000 {
    margin-left: 40%;
  }
  .off-three-fifth-2000 {
    margin-left: 60%;
  }
  .off-four-fifth-2000 {
    margin-left: 80%;
  }
  .off-sixth-2000 {
    margin-left: 16.66666%;
  }
}
.center {
  justify-content: center;
  margin: initial;
  max-width: initial;
}
.flex {
  margin-left: 0;
  width: 100%;
}
.flex > * {
  padding-left: 0;
  padding-bottom: 0;
}
:root {
  --c-testenglish: #50af31;
  --c-testenglish-light: #bde1b2;
  --w: #fff;
  --b: #000;
  --blue: #17c2fe;
  --red: #ff5a5f;
  --green: #004c42;
  --test-bg: #fcfcfc;
  --greyblue: #37424e;
  --grey: #4d4d4d;
  --grey-light: #f5f5f5;
  --grey-mid: #838383;
  --grey-dark: #353535;
  --c-Login: #111;
  --main-bg: #f6f9fc;
  --c-Grammar: #1a8ec1;
  --c-Listening: #fecc00;
  --c-Reading: #ed1c24;
  --c-UseOfEnglish: #ec6825;
  --c-Writing: #a84d98;
  --c-Exams: #50af31;
  --c-Grammar-light: #add6e8;
  --c-Listening-light: #ffe89b;
  --c-Reading-light: #f8a1a6;
  --c-UseOfEnglish-light: #f7c1a8;
  --c-Writing-light: #dfbdda;
  --c-vocabulary: #ff6699;
  --c-LevelTest: #50af31;
  --b-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --b-shadowHover: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --bg-gradient: linear-gradient(
    174.2deg,
    rgb(255 252 248) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
}
html {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: auto;
  -webkit-font-smoothing: auto;
  text-rendering: auto;
}
body {
  background: var(--bg-gradient);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  min-height: 90vh;
  padding: 0;
}
b,
strong {
  font-weight: bold !important;
}
a,
a.disabled:hover,
a:disabled:hover {
  color: var(--c-testenglish);
}
a:hover {
  color: var(--grey);
}
img {
  max-width: 100%;
  height: auto;
}
main {
  min-height: 30vh;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
  animation: fadein 0.5s;
  -webkit-font-smoothing: auto;
  text-rendering: auto;
}
.pill-body.test-item-caption h4 {
  font-weight: 400;
}
a:link,
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}
.d-none {
  display: none !important;
}
.text-center {
  text-align: center;
}
.sectionWmax {
  max-width: 100vw;
}
.maxW1600 {
  max-width: 1600px;
}
.maxW1500 {
  max-width: 1500px;
}
.maxW1400 {
  max-width: 1400px;
}
.maxW1280 {
  max-width: 1280px;
}
.maxW1200 {
  max-width: 1200px;
}
.maxW1100 {
  max-width: 1100px;
}
.maxW960 {
  max-width: 960px;
}
.maxW900 {
  max-width: 900px;
}
.maxW800 {
  max-width: 800px;
}
.maxW700 {
  max-width: 700px;
}
.maxW600 {
  max-width: 600px;
}
.my-1 {
  margin: 10vh 0;
}
.my-2 {
  margin: 20vh 0;
}
.my-3 {
  margin: 30vh 0;
}
.my-4 {
  margin: 40vh 0;
}
.myt-1 {
  margin: 10vh 0 0;
}
.myt-2 {
  margin: 20vh 0 0;
}
.img-responsive {
  width: 100%;
  max-width: 100%;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.below-the-fold {
  content-visibility: auto;
}
.hoverable {
  transition: all 0.55s ease-in-out;
}
.hoverable:hover {
  box-shadow: var(--b-shadowHover);
  transition: all 0.55s ease-in-out;
}
.ico-close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.ico-close:hover {
  opacity: 1;
}
.ico-close:before,
.ico-close:after {
  position: absolute;
  left: 15px;
  content: "";
  height: 33px;
  width: 2px;
  background-color: #333;
}
.ico-close:before {
  transform: rotate(45deg);
}
.ico-close:after {
  transform: rotate(-45deg);
}
.pill {
  justify-content: flex-start;
  align-items: stretch;
  background-clip: border-box;
  background-color: var(--w);
  border-radius: 2px;
  border: 1px solid #f0f0f0c4;
  box-shadow: var(--b-shadow);
  display: flex;
  flex-direction: column;
  font-weight: 400;
  justify-content: center;
  min-width: 0;
  position: relative;
  width: auto;
  word-wrap: break-word;
}
.pill-parent {
  border-radius: 0;
}
.pill-body {
  color: var(--grey-mid);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.pill-title {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-weight: 600;
  color: #383f46;
}
.border-r {
  border-radius: 15px;
}
h4.pill-title {
  font-size: 24px;
}
h5.pill-title {
  font-size: 14px;
  font-weight: 300;
  color: var(--b);
}
